<%- include('partials/header') %>
<div class="text-center py-5">
  <h1>Welcome to Assignment Tracker</h1>
  <p class="lead">Keep track of your assignments, due dates and progress.</p>
  <a class="btn btn-primary" href="/assignments">View Assignments</a>
  <a class="btn btn-outline-primary" href="/assignments/new">Add Assignment</a>
</div>
<%- include('partials/footer') %>
