<%- include('../partials/header') %>
<h2>Add Assignment</h2>
<form action="/assignments" method="POST" class="mb-3">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" name="title" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Course</label>
    <input class="form-control" name="course" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Due Date</label>
    <input type="date" class="form-control" name="dueDate" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Status</label>
    <select name="status" class="form-select">
      <option>Not Started</option>
      <option>In Progress</option>
      <option>Completed</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Notes</label>
    <textarea name="notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Create</button>
</form>
<%- include('../partials/footer') %>
